:root {
    --background-color: #d0d0d0;
    --primary-color: #f0f0f0;
    --secondary-color: #333333;
    --secondary2-color: #2f2f2f;
    --tertiary-color: #007bff;
    --tertiary2-color: #0069d9;
}

body {
    background-color: var(--background-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    display: grid;
    margin-top: 1em;
}

.login {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--secondary-color);
    margin: 0 0 1em;
    text-align: center;
}

h1::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--background-color);
    margin: 0.5em 0;
}

.content {
    background-color: var(--primary-color);
    padding: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    align-items: center;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td {
    padding: 0.5em;
    text-align: left;
}

th {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 5px;
}

.form-checkbox {
    flex-direction: row
}

.form-checkbox>input {
    box-shadow: none;
    margin-bottom: 6px;
}

div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

label {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--tertiary2-color);
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    font-size: 1em;
}

nav ul {
    background-color: var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    
    margin: 0 1em;
}

nav li:nth-last-child(2) {
    margin-right: auto;
}

nav a {
    display: block;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.2s ease;
}

nav a:hover {
    color: var(--secondary2-color);
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 18px;
    }
    .wrapper {
        padding: 0;
        margin-top: 0;
    }
    table > * > tr {
        display: grid;
        grid-template-columns: 1fr;
    }
    thead{
        display:none;
    }
}